.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    padding: 5px;
    border: 1px solid rgb(219, 0, 248);
}

.opacity {
    opacity: 0.3;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.big {
    width: 65%;
    height: 65%;
}

.small {
    width: 20%;
    height: 20%;
}

.blue {
    background-color: blue;
    border: 1px solid rgb(2, 2, 124);
}

.green {
    background-color: green;
    border: 1px solid rgb(12, 56, 1);
}

.orange {
    background-color: orange;
    border: 1px solid rgb(56, 39, 1);
}

.dot {
    height: 2px;
    width: 2px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}
